extends ../index
block main-content
    .row
        .col-md-3
        .col-lg-6
            .well.bs-component
                form.form-horizontal.form-Login(method="post")
                    legend Login
                    .form-group
                        label.col-lg-3.control-label Username
                        .col-lg-9
                            input.form-control(type='text', placeholder='Username', name="username")
                    .form-group
                        label.col-lg-3.control-label Password
                        .col-lg-9
                            input.form-control(type='password', placeholder='Password', name="password")
                    button.btn.btn-primary.btn-info.btn-block(type='submit') Login
                a.btn.btn-default.btn-sm.btn-block(href='/register') Register
        .col-md-3