<div data-ng-show="userData.isAuth">
    <div class="row">
        <div class="col-md-2 pull-right">
            <a href="#/trips/create" class="btn btn-primary btn-default btn-block">Create Trip</a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-2">
            <h6>Order By: </h6>
            <select data-ng-model="filtersData.orderBy">
                <option value="date" ng-selected="true">Date</option>
                <option value="driver">Driver</option>
                <option value="seats">Free Seats</option>
                <option value="from">From</option>
                <option value="to">To</option>
            </select>
        </div>
        <div class="col-md-2">
            <h6>Order Type: </h6>
            <select data-ng-model="filtersData.orderType">
                <option value="asc" ng-selected="true">Ascending</option>
                <option value="desc">Descending</option>
            </select>
        </div>
        <div class="col-md-2">
            <h6>From: </h6>
            <select data-ng-model="filtersData.from">
                <option data-ng-repeat="city in cities" value="{{city}}">{{city}}</option>
            </select>
        </div>
        <div class="col-md-2">
            <h6>To: </h6>
            <select data-ng-model="filtersData.to">
                <option data-ng-repeat="city in cities" value="{{city}}">{{city}}</option>
            </select>
        </div>
        <div class="col-md-2">
            <h6>Show Finished: </h6>
            <select data-ng-model="filtersData.finished">
                <option value="false" ng-selected="true">No</option>
                <option value="true">Yes</option>
            </select>
        </div>
        <div class="col-md-2">
            <h6>Only Mine: </h6>
            <select data-ng-model="filtersData.onlyMine">
                <option value="false" ng-selected="true">No</option>
                <option value="true">Yes</option>
            </select>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-2">
            <a class="btn btn-primary" data-ng-click="changePage(-1)"><<</a>
            <input type="text" class="input-sm" style="width:50px" data-ng-model="filtersData.page">
            <a class="btn btn-primary" data-ng-click="changePage(+1)">>></a>
        </div>
        <div class="col-md-2 pull-right">
            <a class="btn btn-default" data-ng-click="clearFilter()">Clear</a>
            <a class="btn btn-primary" data-ng-click="filterTrips()">Filter</a>
        </div>
    </div>
</div>
<div clas="row">
    <div class="col-md-12">
        <h1>Latest Trips</h1>
        <!--<table class="table table-striped table-hover">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th>Driver</th>-->
                <!--<th>From</th>-->
                <!--<th>To</th>-->
                <!--<th>Departure Time</th>-->
                <!--<th data-ng-show="userData.isAuth">IsMine</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr data-ng-repeat="trip in latestTrips">-->
                <!--<td><a href="#/drivers/{{trip.driverId}}">{{trip.driverName}}</a></td>-->
                <!--<td>{{trip.from}}</td>-->
                <!--<td>{{trip.to}}</td>-->
                <!--<td><a href="#/trips/{{trip.id}}">{{trip.departureDate | date:'medium'}}</a></td>-->
                <!--<td data-ng-show="userData.isAuth">-->
                    <!--<img src="{{trip.isMine | isMineImage}}">-->
                <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
        <div trips-list></div>
    </div>
</div>