hr
#footer
.container
    .row
        .col-md-6
            p.text-muted.text-center
                | Made By &nbsp;
                a(href="#") Pesho Dev International
        .col-md-6
            if(footerPages)
                each page in footerPages
                    a(href="/pages/#{page._id}") #{page.title}
                    | &nbsp;&nbsp;&nbsp;